
<table class="tablelist">
  <tr>
    <th></th>
    <th> Program </th>
    <th> Slot </th>
    <th> Track </th>
    <th> Session </th>
    <th> <%= "Created" %>  </th>
    <th></th>
    <th></th>
  </tr>

<% program_entries.each_with_index do |program_entry, i| %>
  <tr>
    <td> <%= i+1 %> </td>
    <td> <%= program_entry.program.version %>  </td>
    <td> <%= program_entry.slot %> </td>
    <td> <%= program_entry.track %> </td>
    <td> 
           <% if ! program_entry.session.nil? %> 
              <%= program_entry.session.id %>  
              <%= link_to w(program_entry.session.title), program_entry.session %> </div>
           <% end %> 
    </td>
    <td class="nowrap" ><%= l program_entry.created_at %> </td>
    <td><%= link_to 'Edit program entry', controller: 'program_entries', action: 'edit', id: program_entry.to_param %></td>
    <td> <%= link_to 'Destroy', program_entry, method: :delete %> </td>
  </tr>
<% end %>
</table>


