<table class="tablelist">
  <tr>
    <th> Hour </th>
    <th> Room </th>
    <th> Title </th>
    <th> Presenter(s) </th>
  </tr>

<% entries.each_with_index do |entry, i| %>
  <tr>
    <td> <%= Program.activeProgram.hour_for_program_entry(entry) %> </td>
    <td> <%= Program.activeProgram.room_for_program_entry(entry) %> </td>
    <td class=<%=entry.session.topic_class%> ><%= link_to entry.session.title, controller: 'sessions', action: 'public', id: entry.session.to_param %> </td>
    <td> <%= session_presenter_names_public(entry.session) %> </td>
  </tr>
<% end %>
</table>


