     <% if program_entry.nil? %>  
       <td class="ProgramMatrix" > 
         <% if editable %> 
           <%= link_to 'add', new_program_program_entry_path(program, :slot => slot, :track => track  ), :class => "ProgramMatrix_edit_link" %>  
         <% end %> 
       </td>
     <% else %> 
       <td class="ProgramMatrix <%=program_entry.topic_class%>" 
         <%= program_entry.span_entire_row==true ? "colspan="+(@program.maxTrack+1-program_entry.track).to_s : "" %> > 
         <% if !program_entry.session.nil? %>  
           <% if editable %> 
             <%= link_to program_entry.session.id.to_s+"- "+program_entry.session.title, program_entry.session %>
             <p class=ProgramMatrix_presenters> <%= session_presenter_names(program_entry.session) %> </p>
            <% else %> 
             <%= link_to program_entry.session.title, controller: 'sessions', action: 'public', id: program_entry.session.to_param %> 
             <p class=ProgramMatrix_presenters> <%= session_presenter_names_public(program_entry.session) %> </p>
            <% end %> 
         <% end %> 
         <%= wikinize(program_entry.comment) %>
         <% if editable %> 
           <%= link_to "edit", {controller: 'program_entries', action: 'edit', id: program_entry.to_param },  :class => "ProgramMatrix_edit_link"  %>
         <% end %> 
       </td>
     <% end %> 
