<% this_session = program_entry.session %>
<td class="<%=  this_session.topic%>" <%= program_entry.span_entire_row==true ? "colspan="+(@program.maxTrack+1-program_entry.track).to_s : "" %> >

  <% if  this_session.confirmed? %>
    <a href="#session_<%=this_session.to_param%>"><%= w this_session.title %></a>
    <p class=ProgramMatrix_presenters>
      <% if  this_session.presenters[0] %>
        <a href="#presenter_<%=  this_session.presenters[0].id %>"><%= w  this_session.presenters[0].name %></a>
      <% end %>
      <% if  this_session.presenters[1] %>
        &amp; <br /><a href="#presenter_<%=  this_session.presenters[1].id %>"><%= w  this_session.presenters[1].name %></a>
      <% end %>
    </p>
    <strong><%= wikinize(program_entry.comment) %></strong>

    <% if  this_session.laptops_required? %>
      <div style="float:left;"><%= image_tag('Computer.png')%></div>
    <%  end %>
    <% if this_session.limited?  then %>
      <div style="float:right;"><strong>Max: <%=  this_session.max_participants %>&nbsp;</strong></div>
    <% end %>
    <% if this_session.has_materials? %>
      <hr style="clear:both;"/>
      <a href="<%= this_session.material_url%>" target="_blank"><%= this_session.material_description %></a>
    <% end  %>
  <%  else %>
    TO BE CONFIRMED
  <% end  %>
</td>
