<%= title "Editing program entry" %>
<%= content_for :sub_menu do %> 
  <%= link_to 'Show', @program_entry %> &nbsp; | &nbsp;
  <%= link_to "Back to #{@program_entry.program.version}", @program_entry.program %> 
<% end %>

<div class="alignright">
  Created: <%= l @program_entry.created_at %> -- 
  Modified: <%= l @program_entry.updated_at %> 
</div>
<%= render 'form' %>

