<tr><td colspan="2" ><strong><%= wikinize(  this_session.short_description )  %></strong></td></tr>

<tr>
  <td class="propertyname">Goal of the session: </td><td><%= w this_session.session_goal %>  </td>
</tr>
<tr>
  <td class="propertyname">Intended audience:</td><td> <%= w this_session.intended_audience %>
       (see <a href="http://www.xpday.net/Xpday2012/Personas.html" target="_new">Personas</a>). <%= w  this_session.experience_level %> </td>
</tr>
<tr>
  <td class="propertyname">Session Type:</td><td> <%= this_session.duration %> <%= w this_session.session_type %> </td>
</tr>

<% if this_session.limited? then %>
<tr>
  <td class="propertyname" nowrap>Max participants:</td><td> <%= this_session.max_participants %>  </td>
</tr>
<% end %>
<% if  this_session.laptops_required.strip.downcase != "no" %>
<tr>
  <td class="propertyname">Laptops required:</td><td> <%= this_session.laptops_required %>  </td>
</tr>
<%  end %>

<tr><td colspan="2" ><%= wikinize( this_session.description) %></td></tr>
