<%= form_for(@session) do |f| %>
  <%= errors_for @session %>

<% if !PropileConfig.submit_session_active? %> 
  <div>
  <b>Session Submission is closed! Only maintainers can submit sessions. <br />
  You can activate the session submission on the <%= link_to "Configuration", propile_configs_path %>.</b> <br />
  </div>
<% end %> 

<div class="outlined">
   Session submission is done in 2 steps. </br>
   <ul>
     <li>Step 1: Submit a high level proposal </li>
     <li>Step 2: Iteratively and incrementally add details to your proposal as you get questions and feedback </li>
   </ul>
   After Step 1, you receive a login to the XPDays session proposal website.<br/>
   Help other presenters develop their proposals, based on peer to peer feedback. 
   You can give feedback on other people's proposals and improve your proposal based on the feedback you receive. 
   In this way, we will come to a set of quality session proposals in a transparent, community driven way.
</div>

<%= render partial: 'form_essentials', locals: { f: f }  %>

<div class="in_a_form"> 
  <table class="sessiontable">
    <tr> 
      <td class="sessiontable" width="100px">  
          <div> <%= f.label :first_presenter_email %>*: </div>
      </td>
      <td class="sessiontable">  
          <div> <%= f.label :second_presenter_email %>: </div>
      </td>
    </tr>
    <tr> 
      <td class="sessiontable" >  
        <%= f.text_area :first_presenter_email, :cols => "48", :rows => "1" %> 
      </td>
      <td class="sessiontable">  
        <%= f.text_area :second_presenter_email, :cols => "48", :rows => "1" %> 
      </td>
    </tr>
  </table >
</div>



<div class="in_a_form"> 
  <div> 
    <%= f.label :description %>*: <i> this will appear on the website, and they will also be displayed on the wall during the conference -> public description </i> 
    <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %> 
  </div>
  <div> <%= text_area :session, :description, :cols => "100"  , :rows => "20"%> </div>
</div>
<div class="captcha"><%= recaptcha_tags :display => { :theme => 'white', :lang => I18n.locale } %></div>

<div > 
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
