<%= form_for(@session) do |f| %>
  <%= errors_for @session %>

<p> 
  <div class="important"> 
    You don't need to fill in all the fields on this page at once. Only the fields marked with a (*) are mandatory. </br>
    You can finish up the rest later.  
  </div>
</p>

<div class="full"> 
  <div> <%= f.label :title %>*: </div>
  <div> <%= text_area :session, :title, :cols => "100", :rows => "1"  %> </div>
</div>
<div class="full"> 
  <div> <%= f.label :sub_title %>: <i>sometimes your title is catchy but doesn't describe the content of your session. A subtitle can help. Keep short! </i> </div> 
  <div> <%= text_area :session, :sub_title, :cols => "100", :rows => "1"  %> </div>
</div>


<div class="full"> 
  <% if editable_presenters=="true" %> 
    <div class="left">
      <div> <%= f.label :first_presenter_email %>*: </div>
      <div> <%= f.text_area :first_presenter_email,  :rows => "1" %> </div>
    </div>
    <div class="right">
      <div> <%= f.label :second_presenter_email %>: </div>
      <div> <%= f.text_area :second_presenter_email,  :rows => "1" %> </div>
    </div>
  <% else %> 
    <div class="left">
      <div> <%= f.label :first_presenter_email %>: </div>
      <div> <%= f.text_area :first_presenter_email,  :rows => "1", :disabled => "true" %> </div>
    </div>
    <div class="right">
      <div> <%= f.label :second_presenter_email %>: </div>
      <div> <%= f.text_area :second_presenter_email,  :rows => "1", :disabled => "true" %> </div>
    </div>
  <% end %> 
</div>

<div class="full"> 
  <hr>
  <div> <%= f.label :short_description %>: <i> will appear on the "Program Cards" on the "Program Board" at the conference. It should be a teaser. </i> </div>
  <div> <%= text_area :session, :short_description, :cols => "100", :rows => "6"  %> </div>
  <%= link_to 'formatting', "pages#show" %> 
  <hr>
</div>

<div class="full"> 
  <div> <%= f.label :session_goal %>: <i> what do you expect participants to get out of this session?</i> </div>
  <div> <%= text_area :session, :session_goal, :cols => "100", :rows => "1"  %> </div>
</div>


<div class="left">
  <div> <%= f.label :session_type %>: <i> can include presentations, simulations, games, workshops, open space...</i> </div>
  <div> <%= text_area :session, :session_type, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :topic %>: <i> will determine the "color" of your session: Technology and Technique
 , Team and Individual, Process and Improvement, Customer and Planning, Cases and Intros </i> </div>
  <div> <%= text_area :session, :topic, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :duration %>: <i> 30 min / 60 min / 90 min </i> </div>
  <div> <%= text_area :session, :duration, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :intended_audience %>: <i> who will benefit from this session? Have a look at the <a href="http://www.xpday.net/Xpday2012/Personas.html" target="_new">Personas</a> to get ideas about what participants want out of XP Days.</i> </div>
  <div> <%= text_area :session, :intended_audience, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :experience_level %>: <i> do you expect them to have certain knowledge or experience?</i> </div>
  <div> <%= text_area :session, :experience_level, :cols => "45", :rows => "1"  %> </div>
</div>
<div class="right">
  <div> <%= f.label :max_participants %>: </div>
  <div> <%= text_area :session, :max_participants, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :laptops_required %>: </div>
  <div> <%= text_area :session, :laptops_required, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :other_limitations %> </div>
  <div> <%= text_area :session, :other_limitations, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :room_setup %>: <i> eg: groups (=cabaret), theater, classroom</i> </div>
  <div> <%= text_area :session, :room_setup, :cols => "45", :rows => "1"  %> </div>
  <div> <%= f.label :materials_needed %>: <i> extra stuff you need the organisers to arrange for your session </i> </div>
  <div> <%= text_area :session, :materials_needed, :cols => "45", :rows => "1"  %> </div>
</div>
<div class="full"> 
  <div> <%= f.label :description %>*: <i> this will appear on the website, and they will also be displayed on the wall during the conference -> public description </i> </div>
  <div> <%= text_area :session, :description, :cols => "100"  , :rows => "20"%> </div>
  <div> <%= f.label :outline_or_timetable %>: <i> this section contains a detailed outline of your session. It will not be viewable by the public, only by reviewers </i> </div>
  <div> <%= text_area :session, :outline_or_timetable, :cols => "100", :rows => "10"  %> </div>
</div>

<div class="full"> 
  <div class="actions">
    <%= f.submit %>
  </div>
</div>

<% end %>
