<h1>Editing session</h1>

<div class="alignright">
  Created: <%= l @session.created_at %> -- 
  Modified: <%= l @session.updated_at %> 
</div>
<%= render 'form' %>

<%= link_to 'Show', @session %> |
<%= link_to 'Back', sessions_path %>
