<%= title "Editing #{@session.title}" %>

<div class="alignright">
  Created: <%= l @session.created_at %> -- 
  Modified: <%= l @session.updated_at %> 
</div>

<%= render :partial => 'form', :locals => { :session => "@session"  }  %>

<div> 
  <%= link_to 'Show', @session %> &nbsp; | &nbsp;
  <%= link_to 'Public view', controller: 'sessions', action: 'public', id: @session.to_param %>   &nbsp; | &nbsp;
  <%= link_to 'Back', sessions_path %>
</div>
