<table class="tablelist">
  <tr>
    <th></th>
    <th>Title</th>
    <th>Presenter(s)</th>
    <th>Reviews</th>
    <th>Created</th>
    <th>Modified</th>
    <th></th>
  </tr>

<% i=0 %>
<% @sessions.each do |session| %>
  <tr>
    <% i=i+1 %>
    <td> <%= i %> </td>
    <td> <%= link_to session.title , session %></td>
    <td> <%=  session.presenter_names %> </td>
    <td> <%= session.reviews.count %> </td>
    <td class="nowrap" ><%= l session.created_at %> </td>
    <td class="nowrap" ><%= l session.updated_at %> </td>
    <td><%= guarded_link_to 'Edit', controller: 'sessions', action: 'edit', id: session.to_param %></td>
  </tr>
<% end %>
</table>

