<table class="tablelist">
  <tr>
    <th></th>
<% if PropileConfig.is_set( "voting_active") %> 
    <th> <%= sortable "voted" %> </th>
<% end %>
    <th> <%= sortable "title" %> </th>
    <th> <%= sortable "presenters", "Presenter(s)" %> </th>
    <th> <%= sortable "reviewcount", "Reviews" %> </th>
    <th> <%= sortable "topic" %> </td>
    <th> <%= sortable "created_at", "Created" %> </th>
    <th> <%= sortable "updated_at", "Modified" %> </th>
    <th></th>
  </tr>

<% @sessions.each_with_index do |session, i| %>
  <tr>
    <td> <%= i+1 %> </td>
<% if PropileConfig.is_set( "voting_active") %> 
    <td> <% if Vote.presenter_has_voted_for?(@current_account.presenter.id, session.id) %> YES  <% end %> </td>
<% end %>
    <td> <%= link_to session.title , session %></td>
    <td> <%= session_presenter_names(session) %> </td>
    <td> <%= session.reviews.count %> </td>
    <td> <%= session.topic %> </td>
    <td class="nowrap" ><%= l session.created_at %> </td>
    <td class="nowrap" ><%= l session.updated_at %> </td>
    <td><%= guarded_link_to 'Edit', controller: 'sessions', action: 'edit', id: session.to_param %></td>
  </tr>
<% end %>
</table>


<p class="alignright"><a href="mailto:sessions@xpday.net">problems or questions</a> </p> 
