<%= title "XPDay Benelux Sessions" %>

<table class="tablelist">
  <tr>
    <th>Title</th>
    <th>Presenter(s)</th>
    <th>Created</th>
    <th>Modified</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @sessions.each do |session| %>
  <tr>
    <td><%= session.title%> </td>
    <td>
      <%=  session.presenters[0] && 
           ( link_to session.presenters[0].name || session.presenters[0].email, session.presenters[0] )  %>
      <%=  session.presenters[1] && " & " %>
      <%=  session.presenters[1] && 
           ( link_to session.presenters[1].name || session.presenters[1].email, session.presenters[1] )  %>
    </td>
    <td><%= l session.created_at %> </td>
    <td><%= l session.updated_at %> </td>
    <td><%= link_to 'Show', session %></td>
    <td><%= link_to 'Edit', edit_session_path(session) %></td>
    <td><%= link_to 'Destroy', session, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

