<h2>
  <%= @session.title  %> 
</h2>
<h3>
  <%= @session.sub_title  %> 
</h3>

<div> 
  by <%= session_presenter_names_public(@session) %> 
<hr>
</div>


<h4>Short:</h4>
<div class="outlined"> 
  <%= wikinize(  @session.short_description )  %>
</div>


<div>
<table class="propertytable" >
<tr>
  <td class="propertyname">Goal of the session: </td><td><%= @session.session_goal %>  </td>
</tr>
<tr>
  <td class="propertyname">Intended audience:</td><td> <%= @session.intended_audience %>  
       (see <a href="http://www.xpday.net/Xpday2012/Personas.html" target="_new">Personas</a>)</td>
</tr>
<tr>
  <td class="propertyname">Experience level:</td><td> <%= @session.experience_level %> </td>
</tr>
<tr>
  <td class="propertyname">Session Type:</td><td> <%= @session.session_type %> </td>
</tr>
<tr>
  <td class="propertyname">Topic:</td><td> <%= @session.topic %> </td>
</tr>
<tr>
  <td class="propertyname">Duration:</td><td> <%= @session.duration %>  </td>
</tr>
<tr>
  <td class="propertyname">Max participants:</td><td> <%= @session.max_participants %>  </td>
</tr>
<tr>
  <td class="propertyname">Laptops required:</td><td> <%= @session.laptops_required %>  </td>
</tr>
</table>
</div>

<br><br>
<div>
  <h4>Detailed Description</h4>
  <div class="lessoutlined"> 
    <%= wikinize( @session.description) %>
  </div>
</div>


<div class="alignright">
  Created: <%= l @session.created_at %> -- 
  Modified: <%= l @session.updated_at %> 
</div>


<%= link_to 'Back to program', public_programs_path %> 

