<?xml version="1.0"?>
<rss version="2.0">
   <channel>
      <title>Propile: <%= @this_session.title%> updates</title>
      <link><%= url_for :action => 'show' , :controller => 'sessions' , :id => @this_session , :only_path => false %></link>
      <description><%= @this_session.sub_title %></description>
      <language>en-us</language>
      <pubDate><%= Time.now.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></pubDate>
      <lastBuildDate><%= Time.now.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></lastBuildDate>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
      <generator>Propile</generator>
      <managingEditor>sessions@xpday.net</managingEditor>
      <webMaster>sessions@xpday.net</webMaster>
      <item>
         <title><%= @this_session.title%></title>
         <link><%= url_for :action => 'show' , :controller => 'sessions' , :id => @this_session , :only_path => false %></link>
         <description><![CDATA[
          <h2><%= w @this_session.title  %></h2>
<h3> <%= w @this_session.sub_title  %></h3>
<div>by <%= session_presenter_names(@this_session) %><hr /></div>
<h4>Short:</h4>
<div class="outlined">
  <%= wikinize(  @this_session.short_description )  %>
</div>
<table border="1" >
<tr>
  <td colspan="2"> Goal of the session: <%= @this_session.session_goal %>  </td>
</tr>
<tr>
  <td> Session Type: <%= @this_session.session_type %> </td>
  <td> Max participants: <%= @this_session.max_participants %>  </td>
</tr>
<tr>
  <td> Topic: <span class="<%= @this_session.topic %>"> <%= @this_session.topic_name %> </span> </td>
  <td> Laptops required: <%= @this_session.laptops_required %>  </td>
</tr>
<tr>
  <td> Duration: <%= @this_session.duration %>  </td>
  <td> Other limitations: <%= @this_session.other_limitations %>  </td>
</tr>
<tr>
  <td> Intended audience: <%= @this_session.intended_audience %>  </td>
  <td> Room setup: <%= @this_session.room_setup %>  </td>
</tr>
<tr>
  <td> Experience level: <%= @this_session.experience_level %> </td>
  <td> Materials needed: <%= @this_session.materials_needed %> </td>
</tr>
</table>


<div>
  <h4>Description</h4>
  <div class="lessoutlined">
    <%= wikinize( @this_session.description) %>
  </div>
</div>


<div>
  <h4>Outline or Timetable</h4>
  <div class="lessoutlined">
    <%= wikinize( @this_session.outline_or_timetable) %>
  </div>
</div>

<div class="alignright">
  Created: <%= l @this_session.created_at %> --
  Modified: <%= l @this_session.updated_at %>
</div>

         ]]></description>
         <pubDate><%= @this_session.updated_at.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></pubDate>
         <guid><%= url_for :action => 'show' , :controller => 'sessions' , :id => @this_session , :only_path => false %></guid>
      </item>
      <% @this_session.reviews.each do |review| %>
       <item>
         <title><%= @this_session.title%> - Review by <%= review.presenter.name %></title>
        <link><%= url_for :action => 'show' , :controller => 'reviews' , :id => review , :only_path => false %></link>
         <description><![CDATA[
           <p>Review of <a href="<%= url_for :action => 'show' , :controller => 'sessions' , :id => @this_session , :only_path => false %>"><%= @this_session.title%></a> by <%= review.presenter.name %></p>
           <h3>This session gets a <%= review.score %> / 10.</h3>
           <h3>What I like:</h3>
  <%= wikinize(review.things_i_like) %>
           <h3>Improvement opportunities:</h3>
  <%= wikinize(review.things_to_improve) %>

           <p>Review Created: <%= l review.created_at %> <br />
  Modified: <%= l review.updated_at %> <br />
  by <%= link_to w(review.presenter.name), review.presenter %></p>
       ]]></description>
         <pubDate><%= review.updated_at.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></pubDate>
         <guid><%= url_for :action => 'show' , :controller => 'reviews' , :id => review , :only_path => false %></guid>
       </item>
      <% review.comments.each do |comment| %>
      <item>
        <title><%= @this_session.title%> - Review by <%= review.presenter.name %> - Comment by <%=  comment.presenter.name %></title>
        <link><%= url_for :action => 'show' , :controller => 'comments' , :id => comment, :only_path => false %></link>
        <description><![CDATA[
          <p>Comment on <a href="<%= url_for :action => 'show' , :controller => 'reviews' , :id => review , :only_path => false %>">review</a> of <a href="<%= url_for :action => 'show' , :controller => 'sessions' , :id => @this_session , :only_path => false %>"><%= @this_session.title%></a> by <%= review.presenter.name %></p>
          <%= wikinize( comment.body ) %>
          ]]></description>
        <pubDate><%= comment.updated_at.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></pubDate>
        <guid><%= url_for :action => 'show' , :controller => 'comments' , :id => comment, :only_path => false %></guid>
      </item>
        <% end %>
      <%end%>
   </channel>
</rss>