<?xml version="1.0"?>
<rss version="2.0">
   <channel>
      <title>Propile: <%= @this_session.title%> updates</title>
      <link><%= url_for :action => 'show' , :controller => 'sessions' , :id => @this_session , :only_path => false %></link>
      <description><%= @this_session.sub_title %></description>
      <language>en-us</language>
      <pubDate><%= @last_update.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></pubDate>
      <lastBuildDate><%= @last_update.strftime("%a, %-d %b %Y %H:%I:%M GMT") %></lastBuildDate>
      <docs>http://blogs.law.harvard.edu/tech/rss</docs>
      <generator>Propile</generator>
      <managingEditor>sessions@xpday.net</managingEditor>
      <webMaster>sessions@xpday.net</webMaster>
      <%= render 'sessions/session_rss' , :this_session => @this_session %>
     
      <% @this_session.reviews.each do |review| %>
        <%= render 'reviews/rss', :this_session => @this_session , :review => review %>
      <%end%>
   </channel>
</rss>