<%= render 'sessions/show_short', :session => @session  %>

<div>
<table class="propertytable" >
<tr>
  <td colspan="2"> Goal of the session: <%= @session.session_goal %>  </td>
</tr>
<tr>
  <td> Session Type: <%= @session.session_type %> </td>
  <td> Max participants: <%= @session.max_participants %>  </td>
</tr>
<tr>
  <td> Topic: <%= @session.topic %> </td>
  <td> Laptops required: <%= @session.laptops_required %>  
  </td>
</tr>
<tr>
  <td> Duration: <%= @session.duration %>  </td>
  <td> Other limitations: <%= @session.other_limitations %>  </td>
</tr>
<tr>
  <td> Intended audience: <%= @session.intended_audience %>  </td>
  <td> Room setup: <%= @session.room_setup %>  </td>
</tr>
<tr>
  <td> Experience level: <%= @session.experience_level %> </td>
  <td> Materials needed: <%= @session.materials_needed %> </td>
</tr>
<table>
</div>




<div>
<h4>Description</h4>
<div><pre><%= @session.description %></pre></div>
</div>


<div>
<h4>Outline or Timetable</h4>
<pre>
<%= @session.outline_or_timetable %> 
</pre>
</div>


<h2> Reviews for this session: </h2>
<div>
<% if @session.reviews.size==0 %> 
  no reviews yet.
<% else %> 

  <% @session.reviews.each do |review| %>
  <div class="review">
    <%= render 'reviews/show', :review => review  %>
    <div class="alignright">
      <%= link_to 'Edit this review', edit_review_path(review) %> &nbsp;
      <%= link_to 'New Comment on this review', new_review_comment_path(review) %>
    </div>

    <% if review.comments.size!=0 %> 
      <h3> Comments on this review: </h3>
      <div>
        <% review.comments.each do |comment| %>
          <div class="comment">
            <%= render 'comments/show', :comment => comment  %>
            <div class="alignright">
              <%= link_to 'Edit this comment', edit_comment_path(comment) %> 
            </div>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
  <% end %>
<% end %> 
</div>


<div class="alignright">
  Created: <%= l @session.created_at %> -- 
  Modified: <%= l @session.updated_at %> 
</div>

<%= link_to 'Edit this session', edit_session_path(@session) %> |
<%= link_to 'New Review on this session', new_session_review_path(@session) %>  |
<%= link_to 'Back to list of sessions', sessions_path %> 
</div>
