<%= title "#{@session.title}" %>

<%= content_for :sub_menu do %> 
  <%= guarded_link_to 'Edit this session', controller: 'sessions', action: 'edit', id: @session.to_param %> 
  <%= link_to 'New Review on this session', new_session_review_path(@session) %>  
  <%= link_to 'printable card (PDF)', controller: 'sessions', action: 'program_board_card', id: @session.to_param, format: "pdf" %> 
  <%= link_to 'printable description (PDF)', controller: 'sessions', action: 'show', id: @session.to_param, format: "pdf" %> 
  <%= link_to 'RSS feed', controller: 'sessions', action: 'rss', format: :xml, id: @session.to_param %>
  <%= link_to 'Back to list of sessions', sessions_path %> 
<% end %>

<%= content_for :extra_info do %> 
  <% if PropileConfig.voting_active?  %> 
    <div class="flashy">
    <% if @current_presenter_has_voted_for_this_session  %>  
      You have voted for this session 
      --> <%= link_to 'Destroy this vote', @my_vote, method: :delete %>
    <% else %>
      <%= link_to 'Vote for this session', session_votes_path(@session), method: :post %>
    <% end %>
    </div>
  <% end %>
<% end %>

<%= content_for :created_and_modified do %> 
  Created: <%= l @session.created_at %> -- 
  Modified: <%= l @session.updated_at %> 
<% end %>


<%= render 'sessions/show_short', :session => @session  %>


<h2> Reviews for this session: </h2>
<div>
<% if @session.reviews.size==0 %> 
  no reviews yet.
<% else %> 

  <% @session.reviews.each_with_index do |review, i| %>
  <%= collapse_button_initially_open ("session_review_#{i}") %> 
  <div id="session_review_<%=i%>" style="display:block;" class="review">
    <%= render 'reviews/show', :review => review  %>
    <div class="alignright">
      <%= guarded_link_to 'Edit this review', controller: 'reviews', action: 'edit', id: review  %> &nbsp;
      <%= link_to 'New Comment on this review', new_review_comment_path(review) %>
    </div>

    <% if review.comments.size!=0 %> 
      <h3> Comments on this review: </h3>
      <div>
        <% review.comments.each do |comment| %>
          <%= collapse_button_initially_open ("session_comment_#{i}") %> 
          <div id="session_comment_<%=i%>" style="display:block;" class="comment">
            <%= render 'comments/show', :comment => comment  %>
            <div class="alignright">
              <%= guarded_link_to 'Edit this comment', controller: 'comments', action: 'edit', id: comment %> 
            </div>
          </div>
        <% end %>
      </div>
    <% end %> 
  </div>
  <% end %>
<% end %> 
</div>





