<p id="notice"><%= notice %></p>

  <h2>
    <%= @session.title  %> 
  </h2>
  <div>
    <%= @session.description %>
  </div>
<hr>
  <div>
    Modified: <%= l @session.updated_at %> 
  </div>
  <div>
    Created: <%= l @session.created_at %> 
  </div>

<%= link_to 'Edit', edit_session_path(@session) %> |
<%= link_to 'Back', sessions_path %>
