<%= form_for(@comment) do |f| %>
  <%= errors_for @comment %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :review %><br />
    <%= f.text_field :review %>
  </div>
  <div class="field">
    <%= f.label :presenter %><br />
    <%= f.text_field :presenter %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
