<%= form_for(comment) do |f| %>
  <%= errors_for comment %>

  <%= f.hidden_field :review_id %>
  <% if defined?(review_index) %>
    <%= hidden_field_tag 'review_index', review_index.to_s %>
  <% end %> 

<% if !comment.body.blank? %> <div class="editing"> <% end %> 

<% if !comment.body.blank? %>
<h4><%= collapse_button_initially_open ("comment_preview")%> Preview of the comment</h4>
  <div id="comment_preview" class="comment">
    <%= render 'comments/show', :comment => comment  %>
  </div>
<% end %>

  <div class="in_a_form">
    <%= f.text_area :body, :cols => 95, :rows => 2 %>
    <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %> <br/>
  </div>

  <br/>
  <div class="actions">
    <%= f.submit 'Preview' %>
    <% if comment.new_record? %>
      <%= f.submit "Create" %>
      <% if !comment.body.blank? %>
        <%= link_to 'Cancel Comment Creation', comment.review.session %>  
      <% end %>
      <i>When you create the comment, the session presenter(s) receive an email. 
        <% if Propile::Application.config.action_mailer.delivery_method == :test %>
          <br/>!!!  Mail is not sent in test environment !!!
        <% end %>
      </i>
    <% else %>
      <%= f.submit "Update" %>
      <% if !comment.body.blank? %>
        <%= link_to 'Cancel Comment Update', comment.review.session %>  
      <% end %>
    <% end %>
  </div>

<% end %>

<% if !comment.body.blank? %> </div> <% end %> 
