<%= form_for(@comment) do |f| %>
  <%= errors_for @comment %>

<%= f.hidden_field :review_id %>

<p>
  <h2> <%= link_to @comment.review.session.title, @comment.review.session %> </h2>
  <%= @comment.review.session && @comment.review.session.short_description %> 
</p>
<hr>

<%= render 'reviews/show', :review => @comment.review  %>

<p>
  <b>Comment on Review by</b>
  <% if @comment.presenter.nil?  %>  
    nobody defined (invalid comment)
  <% else %> 
    <%= @comment.presenter.name %>
  <% end %> 
  :
</p>

<div class="field">
  <%= f.text_area :body, :cols => 100, :rows => 10 %>
</div>


<hr>
<div class="actions">
  <%= f.submit %>
</div>

<% end %>
