<%= form_for(@comment) do |f| %>
  <%= errors_for @comment %>

  <%= f.hidden_field :review_id %>

  <%= render 'sessions/show_short', :session => @comment.review.session  %>

  <%= render 'reviews/show', :review => @comment.review  %>

<h3><%= collapse_button_initially_open ("comment_preview")%> Preview of the comment</h3>
  <div id="comment_preview" class="review">
    <%= render 'comments/show', :comment => @comment  %>
  </div>


<hr />


  <div>
    Comment by <%= w @comment.presenter.name %> on this Review:
    <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %> 
  </div>

  <div class="in_a_form">
    <%= f.text_area :body, :cols => 100, :rows => 10 %>
  </div>


  <hr>
  <div class="actions">
    <%= f.submit 'Preview' %>
    <% if @comment.new_record? %>
      <%= f.submit "Create" %>
      <i>When you create the comment, the session presenter(s) receive an email. 
      <% if Propile::Application.config.action_mailer.delivery_method == :test %>
        <br/>!!!  Mail is not sent in test environment !!!
      <% end %>
      </i>
    <% else %>
      <%= f.submit "Update" %>
    <% end %>
  </div>

<% end %>
