<%= form_for(@comment) do |f| %>
  <%= errors_for @comment %>

  <%= f.hidden_field :review_id %>

  <%= render 'sessions/show_short', :session => @comment.review.session  %>

  <hr>

  <%= render 'reviews/show', :review => @comment.review  %>

  <h4>
    Comment by
    <% if @comment.presenter.nil?  %>  
      nobody (invalid comment)
    <% else %> 
      <%= @comment.presenter.name %>
    <% end %> 
    on this Review:
  </h4>
  <div><%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %> </div>

  <div class="field">
    <%= f.text_area :body, :cols => 100, :rows => 10 %>
  </div>


  <hr>
  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
