<b><%= title "Editing Comment on Review for:" %></b>

<%= render 'form' %>

<hr>
<div class="alignright">
  Created: <%= l @comment.created_at %> -- 
  Modified: <%= l @comment.updated_at %> 
</div>

<%= link_to 'Back to Session', @comment.review.session %>
