<%= title "Listing comments" %>
<%= content_for :sub_menu do %> 
  <%= link_to 'Back', "/" %>
<% end %>

<table class="tablelist">
  <tr>
    <th>Session</th>
    <th>Review by</th>
    <th>Comment by</th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.review.session && w(comment.review.session.title) %></td>
    <td><%= comment.review.presenter && w(comment.review.presenter.name) %></td>
    <td><%= w(comment.presenter.name) %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= guarded_link_to 'Edit', controller: 'comments', action: 'edit', id: comment %> </td>
  </tr>
<% end %>
</table>


