<%= title "Listing comments" %>

<table class="tablelist">
  <tr>
    <th>Session</th>
    <th>Review by</th>
    <th>Comment by</th>
    <th></th>
    <th></th>
  </tr>

<% @comments.each do |comment| %>
  <tr>
    <td><%= comment.review.session && comment.review.session.title %></td>
    <td><%= comment.review.presenter && comment.review.presenter.name %></td>
    <td><%= comment.presenter %></td>
    <td><%= link_to 'Show', comment %></td>
    <td><%= guarded_link_to 'Edit', controller: 'comment', action: 'edit', id: comment %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', "/" %>
