<p id="notice"><%= notice %></p>

<p>
  <b>Body:</b>
  <%= @comment.body %>
</p>

<p>
  <b>Review:</b>
  <%= @comment.review %>
</p>

<p>
  <b>Presenter:</b>
  <%= @comment.presenter %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
