<p id="notice"><%= notice %></p>

<%= render 'sessions/show_short', :session => @comment.review.session  %>
<hr>

<%= render 'reviews/show', :review => @comment.review  %>

<%= render 'comments/show', :comment => @comment  %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back to Session', @comment.review.session %> 
