<p id="notice"><%= notice %></p>

<p>
  <div> <b>Comment on Review for:</b> </div>
  <h2> <%= link_to @comment.review.session.title, @comment.review.session %> </h2>
  <%= @comment.review.session && @comment.review.session.short_description %>
</p>
<hr>

<%= render 'reviews/show', :review => @comment.review  %>

<%= render 'comments/show', :comment => @comment  %>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back to Session', @comment.review.session %> 
