<%= form_for(@propile_config) do |f| %>
  <% if @propile_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@propile_config.errors.count, "error") %> prohibited this propile_config from being saved:</h2>

      <ul>
      <% @propile_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
