<%= content_for :extra_info do %> 
  <i> This page is for maintainers only </i>
<% end %>

<h1>Some statistics</h1>
<h2>Reviews</h2>
<div> <b>Sessions reviewed</b>: <%= @review_statistics.number_of_sessions_reviewed %> --- that's <b><%=@review_statistics.percentage_of_sessions_reviewed%>%</b> of the total number of sessions (<%=@review_statistics.total_number_of_sessions%>)
<div> Total number of reviews is <%= @review_statistics.total_number_of_reviews %> </div>
<div> <b>Done by</b> <%= @review_statistics.total_number_of_reviewers %> presenters --- that's <b><%= @review_statistics.percentage_of_presenters_who_review %>%</b> of the total number of presenters (<%= @review_statistics.total_number_of_presenters %>)</div>
<div>How many reviews have our presenters done: 
<table>
  <tr>
    <th> #reviews</th>
    <th> #presenters</th>
    <th> Who</th>
  </tr>
  <% @review_statistics.number_of_reviews_by_presenters.each do |number_of_reviews_pair| %>
  <tr>
    <td> <%= number_of_reviews_pair[0] %>  </td>
    <td> <%= number_of_reviews_pair[1].size %>  </td>
    <td> <% number_of_reviews_pair[1].each do |reviewer|  %> 
         <%= link_to reviewer.name, reviewer %> -
         <% end %>
    </td>
  </tr>
<% end %>
</table>
</div>

<h1>Configuration</h1>

<table>
  <tr>
    <td> Session submission active: </td> 
    <td> <%= PropileConfig.submit_session_active? %>  </td> 
    <td> 
      <%= form_for(@propile_configs, :url => url_for(:action => 'toggle') ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::SUBMIT_SESSION_ACTIVE %> 
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
    <td> <i> if false, only maintainers can submit a session. </i>
    </td>
  </tr> 
  <tr>
    <td> Voting active: </td> 
    <td> <%= PropileConfig.voting_active? %> </td> 
    <td> 
      <%= form_for(@propile_configs, :url => url_for(:action => 'toggle') ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::VOTING_ACTIVE %> 
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
    <td> <i> voting becomes active 2 weeks before the program committee meeting </i> </td>
  </tr> 
</table>

<h1>Configuration for test purposes</h1>
<div> <i> Not persisted! (lost when server restarted)</i></div>
<table>
  <tr>
    <%= form_for(@propile_configs, :url => url_for(:action => 'toggle_send_mails') ) do |f| %>
    <td> Mails are sent (test-env): </td> 
    <td> <%= PropileConfig.send_mails_active? %> </td> 
    <td> <%= f.submit "toggle" %> </td>
    <td> <i> Are mails sent when submitting a session, reviewing a session, making comments on reviews, or resetting password?</i>
    </td>
  </tr> 
    <% end %>
  <tr>
    <%= form_for(@propile_configs, :url => url_for(:action => 'change_last_login') ) do |f| %>
      <td> Last login (current account): </td> 
      <!--td> <%= f.text_field  "new_last_login", :value => current_account.last_login %> </td--> 
      <td> <%= f.text_field  "new_last_login", :value => session[:previous_login] %> </td> 
      <td> <%= f.submit "update" %> </td>
      <td> <i> time of previous login (in session) --> to test the dashboard-functionalities. 
      </td>
    <% end %>
  </tr> 
</table>

<h1>Maintainers</h1>
<table>
<% @presenters.each_with_index do |presenter, i| %>
  <% if presenter.account.maintainer? %>
    <tr >
      <td> <%= i+1 %> </td>
      <td> <%= link_to presenter.name, presenter %></td>
      <td><%= presenter.email%> </td>
      <td class="nowrap" ><%= l presenter.created_at %> </td>
      <td class="nowrap" ><%= l presenter.updated_at %> </td>
      <td><%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: presenter.to_param %></td> 
    </tr>
  <% end %>
<% end %>
</table>


<%= link_to 'New Presenter/Maintainer', new_presenter_path %>   

<br>
<br>
<br>

<div class="outlined">
  <%= button_to 'start new conference',  {action: 'start_conference'}, method: :get, confirm: "All programs and sessions will be deleted.\nAre you sure? "  %>   
  <i><b>Attention!!!</b> All programs, sessions and votes will be deleted. Presenters are moved to archive. </i>
</div>

