<p>This page is for maintainers only
</p>
<h1>Configuration</h1>

<table>
  <tr>
    <td> Session submission active: </td> 
    <td> <%= PropileConfig.submit_session_active? %>  </td> 
    <td> 
      <%= form_for(@propile_configs, :url => url_for(:action => 'toggle') ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::SUBMIT_SESSION_ACTIVE %> 
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
  </tr> 
  <tr>
    <td> Voting active: </td> 
    <td> <%= PropileConfig.voting_active? %> </td> 
    <td> 
      <%= form_for(@propile_configs, :url => url_for(:action => 'toggle') ) do |f| %>
        <%= hidden_field_tag "field[prop_name]", PropileConfig::VOTING_ACTIVE %> 
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
  </tr> 
</table>

<h1>Maintainers</h1>
<table>
<% @presenters.each_with_index do |presenter, i| %>
  <% if presenter.account.maintainer? %>
    <tr >
      <td> <%= i+1 %> </td>
      <td> <%= link_to presenter.name, presenter %></td>
      <td><%= presenter.email%> </td>
      <td class="nowrap" ><%= l presenter.created_at %> </td>
      <td class="nowrap" ><%= l presenter.updated_at %> </td>
      <td><%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: presenter.to_param %></td> 
      <td><%= guarded_link_to 'Public view', controller: 'presenters', action: 'public', id: presenter.to_param %> </td>   
    </tr>
  <% end %>
<% end %>
</table>


<br>
<br>
