<p>This page is for maintainers only
</p>
<h1>Configuration</h1>

<table>
  <tr>
    <td> Session submission active: </td> 
    <td> <%= PropileConfig.submit_session_active? %>  </td> 
    <td> 
      <%= form_for(@propile_configs, :url => url_for(:action => 'toggle_submit_session_active') ) do |f| %>
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
  </tr> 
  <tr>
    <td> Voting active: </td> 
    <td> <%= PropileConfig.voting_active? %> </td> 
    <td> 
      <%= form_for(@propile_configs, :url => url_for(:action => 'toggle_voting_active') ) do |f| %>
        <%= f.submit 'toggle' %> 
      <% end %>
    </td>
  </tr> 
</table>

<br>
<br>
