<%= content_for :extra_info do %> 
  <i> This page is for maintainers only </i>
<% end %>

<h1>Some statistics</h1>
<h2>Reviews</h2>
<div> <b>Sessions reviewed</b>: <%= @review_statistics.number_of_sessions_reviewed %> --- that's <b><%=@review_statistics.percentage_of_sessions_reviewed%>%</b> of the total number of sessions (<%=@review_statistics.total_number_of_sessions%>)</div>
<div> Total number of reviews is <%= @review_statistics.total_number_of_reviews %> </div>
<div> <b>Done by</b> <%= @review_statistics.total_number_of_reviewers %> presenters --- that's <b><%= @review_statistics.percentage_of_presenters_who_review %>%</b> of the total number of presenters (<%= @review_statistics.total_number_of_presenters %>)</div>
<div>How many reviews have our presenters done: 
  <table>
    <tr>
      <th> #reviews</th>
      <th> #presenters</th>
      <th> Who</th>
    </tr>
    <% @review_statistics.number_of_reviews_by_presenters.each do |number_of_reviews_pair| %>
    <tr>
      <td> <%= number_of_reviews_pair[0] %>  </td>
      <td> <%= number_of_reviews_pair[1].size %>  </td>
      <td> <% number_of_reviews_pair[1].each do |reviewer|  %> 
           <%= link_to reviewer.name, reviewer %> -
           <% end %>
      </td>
    </tr>
  <% end %>
  </table>
</div>

<h2>Session completeness</h2>
<div>Sessions that have...</b></div>
<div> <b>short description</b>: <%= @session_completeness_statistics.with_short_description %> -- that's  <%= @session_completeness_statistics.with_short_description_percentage %>%  </div>
<div> <b>outline or timetable</b>: <%= @session_completeness_statistics.with_outline_or_timetable %> -- that's  <%= @session_completeness_statistics.with_outline_or_timetable_percentage %>%  </div>
<div> <b>most important fields filled in</b>: <%= @session_completeness_statistics.complete %> -- that's  <%= @session_completeness_statistics.complete %>%  
      <i>(fields: <%=Session::FIELDS_THAT_NEED_TO_BE_COMPLETE%>)</i> </div>
<div> <b>updated after having received a review </b>: <%= @session_completeness_statistics.updated_after_review %> -- that's  <%= @session_completeness_statistics.updated_after_review_percentage %>% 
      <i>(these sessions have been updated or commented after their last review )</i> </div>

<h2>Presenter completeness</h2>
<div>Presenters that have...</b></div>
<div> <b>name</b>: <%= @presenter_completeness_statistics.with_name %> -- that's  <%= @presenter_completeness_statistics.with_name_percentage %>%  </div>
<div> <b>bio</b>: <%= @presenter_completeness_statistics.with_bio %> -- that's  <%= @presenter_completeness_statistics.with_bio_percentage %>%  </div>

