<%= form_for(@program) do |f| %>
  <%= errors_for @program %>


  <div>
    <%= f.label :version %> 
  </div>
  <div>
    <%= text_field :program, :version, :size => "100" %> 
  </div>
  <div class="actions">
    <%= f.submit "update version string" %>
  </div>
<hr>
  <div>
    PAF = <%= @program.avgpaf.nil? ? "not yet calculated" : @program.avgpaf %> &nbsp; | &nbsp;
      <%= link_to '(re-)calculate PAF for this program', controller: 'programs', action: 'calculate_paf', id: @program.to_param %>   &nbsp; | &nbsp;
    <%= link_to 'Export CSV', csv_program_path %>
  </div>

<% end %>

<%= render 'programs/program_matrix', :program => @program, :editable => true %>



<%= link_to 'New entry in this program', new_program_program_entry_path(@program) %>   |

