<%= errors_for @program %>

<div>
  <%= link_to 'New entry in this program', new_program_program_entry_path(@program) %>   
</div>
<%= render 'programs/program_matrix', :program => @program, :editable => true %>
<div>
  <%= link_to 'New entry in this program', new_program_program_entry_path(@program) %>   
</div>


<%= form_for(@program) do |f| %>
<br>
<br>
<div class="outlined">
  <h3>Program properties</h3>
  <table class="propertytable">
  <tr > <td><%= f.label :version %>      </td>
        <td><%= text_field :program, :version, :size => "100" %> 
            <i>only displayed in program list</i></td></tr>
  <tr > <td><%= f.label :room_row %>     </td>
        <td><%= text_field :program, :room_row, :size => "3" %> 
            <i>this row contains the room-descriptions for the different tracks</i></td></tr>
  <tr > <td><%= f.label :hour_column %>  </td>
        <td><%= text_field :program, :hour_column, :size => "3" %> 
            <i>this column contains the starting hours for the different slots</i></td></tr>
  </table>
  <div >
    <%= f.submit "update properties" %>
  </div>
</div>

<% end %>





