<%= form_for(@program) do |f| %>
  <%= errors_for @program %>

  <div>
    <%= f.label :version %> 
  </div>
  <div>
    <%= text_field :program, :version %> 
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
