<%= form_for(@program) do |f| %>
  <%= errors_for @program %>


  <div>
    <%= f.label :version %> 
  </div>
  <div>
    <%= text_field :program, :version, :size => "100" %> 
  </div>
  <div class="actions">
    <%= f.submit "update version string" %>
  </div>
<hr>

<%= render 'programs/program_matrix', :program => @program, :editable => true %>


<% end %>

<%= link_to 'New entry in this program', new_program_program_entry_path(@program) %>   |

