<div id="ProgramMatrix">

<% if editable %> 
  <i>
    A program is a matrix of slot/track cells. <br />
    Add/remove slots/tracks with the +/- signs --> you create new empty cells.  <br />
    Add a new program entry in a cell, and connect with an existing session or just enter a comment.  <br />
    Move program entries to another cell: edit and change slot/track.  <br />
  </i> 

<% end %>

<div class="popupcontainer">
<% if !@program.program_entries.nil? && !@program.program_entries.empty? %> 
  <table class="ProgramMatrix" >
  <% if editable %>
    <tr>
      <th></th>
      <% @program.eachTrack do |track| %> <th>Track <%= track %> </th> <% end %>
      <th></th> 
    </tr>
  <% end %>
  <% @program.eachSlot do |slot|
    no_more_columns_on_this_row = false
  %>
    <tr>
      <% if editable %> 
        <th> slot <%=slot%> </th> 
      <% end %> 
      <% @program.eachTrack do |track| program_entry = @program.entry(slot,track) %>
        <% if no_more_columns_on_this_row %>  
        <% else %> 
          <%= render 'program_entries/show_in_program_matrix', :program_entry => program_entry, :program => @program, :slot => slot, :track => track, :editable => editable  %>
          <% no_more_columns_on_this_row |= (!program_entry.nil? && program_entry.span_entire_row) %>
        <% end %> 
      <% end %>
      <% if editable %> 
        <td class="ProgramMatrix" > 
          <%= form_for(@program, :url => insertSlot_program_url(@program)) do |f| %>
            <%= hidden_field_tag "field[before]", slot %> 
            <%= f.submit "+", :class=>"adddelete_button", "data-tooltip" => true, :title => "Add row (slot) below this row"  %>
          <% end %>
          <%= form_for(@program, :url => removeSlot_program_url(@program)) do |f| %>
            <%= hidden_field_tag "field[slot]", slot %> 
            <%= f.submit "-", :class=>"adddelete_button", "data-tooltip" => true, :title => "Remove this row (slot)"  %>
          <% end %>
        </td>
      <% end %> 
    </tr>
  <% end %>
  <% if editable %> 
    <tr>
      <td> </td>
      <% @program.eachTrack do |track| %> 
        <td class="ProgramMatrix" > 
          <%= form_for(@program, :url => insertTrack_program_url(@program )) do |f| %>
            <%= hidden_field_tag "field[before]", track %> 
            <%= f.submit "+", :class=>"adddelete_button", "data-tooltip" => true, :title => "Add column (track) to the left of this column"   %>
          <% end %>
          <%= form_for(@program, :url => removeTrack_program_url(@program )) do |f| %>
            <%= hidden_field_tag "field[track]", track %> 
             <%= f.submit "-", :class=>"adddelete_button", "data-tooltip" => true, :title => "Remove this column (track)"   %>
          <% end %>
        </td> 
      <% end %>
    </tr>
  <% end %> 
</table>
<% end %> 
</div>

</div>

