<%= title @program.version %> 
  <div>
    <%= link_to 'Show', @program %>
  </div>
<br>

<h3>Info for this program version <%= collapse_button ("programInfo") %> </h3>
<div id="programInfo" style="display:none;">
  number of presenters: <%= @program.presentersInProgram.size %> <br>
  number of sessions: <%= @program.sessionsInProgram.size %> <br>
  <%= link_to 'Export CSV', csv_program_path %> 
    <i> contains Id, Slot, Track, Title, Subtitle, Presenters, Type, Topic, Duration</i><br>
  <%= link_to 'Materials CSV', materials_csv_program_path %> 
    <i> contains Id, Title, Room, Hour, Max participants, Laptops Required, Other limitations, Room setup, Materials needed, Intended Audience </i><br>
  <hr>
</div>
<br>

<h3>Printable stuff for this program version  <%= collapse_button ("programPrintStuff") %> </h3>
<div id="programPrintStuff" style="display:none;">
  Session Descriptions: <i>longer description, an A4 for each session, we put them somewhere on the wall </i><br>
  Session Card: <i>short description on an A6 card, we put them on the Program Board</i> <br>
  <i>Print them by topic (colour) or all (to check if everything looks ok)</i>
  <table class="tablelist">
    <tr>
      <th > Session Descriptions (PDF)</td>
      <th > Session Cards (PDF) </td>
      <th > &nbsp; </td>
    </tr>
    <% for topic in Session::AVAILABLE_TOPICS do %> 
      <tr>
        <td class="<%=topic%>"> 
          <%= link_to topic, controller: 'programs', action: 'show', id: @program.to_param, topic: topic, format: "pdf" %> </td>
        <td class="<%=topic%>"> 
          <%= link_to topic, controller: 'programs', action: 'program_board_cards', id: @program.to_param, topic: topic, format: "pdf" %> </td>
        <td class="<%=topic%>"> <%= @program.program_entries_for_topic(topic).size %> </td>
      </tr>
    <% end %> 
    <tr>
      <td><%= link_to 'all', controller: 'programs', action: 'show', id: @program.to_param, format: "pdf" %> </td>
      <td><%= link_to 'all', controller: 'programs', action: 'program_board_cards', id: @program.to_param, format: "pdf" %> </td>
      <td> <%= @program.sessionsInProgram.size %> </td>
    </tr>
  </table>
  <hr>
</div>
<br>

<h3>Modify this program version <%= collapse_button_initially_open ("programMatrix") %> </h3>
<div id="programMatrix" style="display:block;">
  <%= render 'programs/program_matrix', :program => @program, :editable => true %>
</div>
<br>

<h3>Program properties <%= collapse_button ("programProperties") %> </h3>
<div id="programProperties" style="display:none;">
  <%= render 'form' %>
  Average PAF = <%= @program.avgpaf.nil? ? "not yet calculated" : @program.avgpaf %> &nbsp;  &nbsp; &nbsp; &nbsp; &nbsp;
  <%= link_to '(re-)calculate PAF for this program', controller: 'programs', action: 'calculate_paf', id: @program.to_param %>   
</div>
<br>

<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>
