<%= title @program.version %> 
  <div>
    PAF = <%= @program.avgpaf.nil? ? "not yet calculated" : @program.avgpaf %> &nbsp; | &nbsp;
    <%= link_to '(re-)calculate PAF for this program', controller: 'programs', action: 'calculate_paf', id: @program.to_param %>   &nbsp; | &nbsp;
    <%= link_to 'Export CSV', csv_program_path %> &nbsp; | &nbsp;
    <%= link_to 'New entry in this program', new_program_program_entry_path(@program) %>   &nbsp; | &nbsp;
    <%= link_to 'Show', @program %> &nbsp; | &nbsp;
    <%= link_to 'printable program cards (PDF)', controller: 'programs', action: 'program_board_cards', id: @program.to_param, format: "pdf" %> &nbsp; | &nbsp;
    <%= link_to 'printable program descriptions (PDF)', controller: 'programs', action: 'show', id: @program.to_param, format: "pdf" %> 
  </div>
<hr>
<%= render 'form' %>
<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>

