<table class="tablelist">
  <tr>
    <th></th>
    <th> version </th>
    <th> Created </th>
    <th> Modified </th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each_with_index do |program, i| %>
  <tr >
    <td> <%= i+1 %> </td>
    <td> <%= link_to program.version, program %></td>
    <td class="nowrap" ><%= l program.created_at %> </td>
    <td class="nowrap" ><%= l program.updated_at %> </td>
    <td><%= link_to 'Edit', controller: 'programs', action: 'edit', id: program.to_param %></td> 
    <td><%= link_to 'Copy', controller: 'programs', action: 'copy', id: program.to_param %></td> 
  </tr>
<% end %>
</table>


<%= link_to 'New Program', new_program_path %>

