<table class="tablelist">
  <tr>
    <th></th>
    <th> Active </th>
    <th> Version </th>
    <th> paf </th>
    <th> Created </th>
    <th> Modified </th>
    <th></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @programs.each_with_index do |program, i| %>
  <tr >
    <td> <%= i+1 %> </td>
    <td> <%= program.active? ? "YES" : ""  %> </td>
    <td> <%= link_to program.version, program %></td>
    <td> <%= program.avgpaf %></td>
    <td class="nowrap" ><%= l program.created_at %> </td>
    <td class="nowrap" ><%= l program.updated_at %> </td>
    <td> <%= link_to 'Edit', controller: 'programs', action: 'edit', id: program.to_param %></td> 
    <td> <%= link_to 'Copy', controller: 'programs', action: 'copy', id: program.to_param %></td> 
    <td> <%= link_to 'Destroy', program, method: :delete %> </td>
    <td> <%= link_to 'Activate', controller: 'programs', action: 'activate', id: program.to_param %></td> 
  </tr>
<% end %>
</table>

<br>
<%= link_to 'New Program from scratch', new_program_path %> | 
<%= link_to 'Public view on last Program', public_programs_path %> | 

