

<%= render 'programs/program_matrix', :program => @program, :editable => false %>

<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>


<br>
<br>
<table border="1">
<tr><td class="propertyname">Legend</td></tr>
<%for topic in Session.available_topics do %>
  <% if ! @program.program_entries_for_topic(topic).empty? then %> 
    <tr><td class="<%=topic%>"><%=Session.topic_name(topic)%></td></tr>
  <% end %> 
<%end%>
</table>
