<%= title "Program Version: #{@program.version}" %>

<%= content_for :sub_menu do %>
    <%= link_to 'Edit', controller: 'programs', action: 'edit', id: @program.to_param %>
    <%= link_to 'Preview', controller: 'programs', action: 'preview', id: @program.to_param %>
    <%= link_to 'Export',  controller: 'programs', action: 'export', id: @program.to_param %>
<% end %>
<%= content_for :extra_info do %> 
  <i> This page is for maintainers only </i>
<% end %>

<%= render 'programs/program_matrix', :program => @program, :editable => false %>

<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>

