<%= title "Program Version: #{@program.version}" %>

<%= content_for :sub_menu do %> 
  <%= link_to 'Edit', controller: 'programs', action: 'edit', id: @program.to_param %>
<% end %>

<%= render 'programs/program_matrix', :program => @program, :editable => false %>

<div class="alignright">
  Created: <%= l @program.created_at %> -- 
  Modified: <%= l @program.updated_at %> 
</div>

