<p>A new review has been made for <%= @session.title %> by <%= @review.presenter.name %>:</p>

<p>You can find the review <%= link_to 'here', review_url(@review) %></p>

<p>Here's the review:</p> 

<p>I give the session a '<%= @review.score %>' out of 10</p>

<p>What I like</p>
<p><%= @review.things_i_like %></p>

<p>Improvement opportunities</p>
<p><%= @review.things_to_improve %></p>


