<%= @greeting %>

Thank you for submitting <%= @session.title %>

We would like you to add more detailed info on your own session proposal, 
and to improve it when you receive feedback. 

You are invited now to take part in our reviewing process where you review other session proposals, 
and others will review yours.

Please click this link to login and join us in giving the wonderful gift of feedback

<%= account_response_session_url(@login_guid) %>


If you have any problem or question, send us an email (<a href="mailto:<%= Conference::EMAIL_ADDRESS%>"><%= Conference::EMAIL_ADDRESS%></a>)

Cheers,

The XPDay Benelux Team. 
