- title "Reset Password"

= form_for @account, :url => account_password_reset_path do |f|
  = errors_for @account

  %p
    .label= f.label :email
    .input= f.text_field :email

  .actions
    = f.submit t('.send_password')
