<a name="presenter_<%=  this_presenter.id %>"></a>
<h3><%= w  this_presenter.name %></h3>
<% if this_presenter.profile_image.present? %>
  <img class="profile" src="<%=  this_presenter.profile_image%>" alt="<%= this_presenter.name %>" />
<% end %>
<%if this_presenter.website.present? %>
  <p>Website: <a href="<%= this_presenter.website %>" target="_blank"> <%= this_presenter.website %> </a></p>
<% end %>
<%if this_presenter.twitter_id.present? %>
  <p>Twitter: <a href="https://twitter.com/<%= this_presenter.twitter_id %>" target="_blank"> <%= this_presenter.twitter_id %> </a></p>
<% end %>
<% if this_presenter.bio.present? && this_presenter.bio.length > 0 then %>
  <%= wikinize this_presenter.bio %>
<%  end %>
<br style="clear:both;"/>