<%= form_for(@presenter) do |f| %>
  <%= errors_for @presenter %>

  <div>
    <%= f.label :name %> 
  </div>
  <div>
    <%= text_field :presenter, :name, :size => "100" %> 
  </div>
  <div>
    <%= f.label :email %> <i><%= !current_account.maintainer? || "(editable for maintainers only)" %></i> 
  </div>
  <div>
    <%= text_field :presenter, :email, :disabled => (!current_account.maintainer?), :size => "100" %> 
  </div>
  <div>
    <%= f.label :bio %> 
    <%= link_to '(formatting)', "/pages/formatting", :target => '_blank', :class => 'smalllink' %> 
  </div>
  <div>
    <%= text_area :presenter, :bio, :cols => "100"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
