<%= form_for(@presenter) do |f| %>
  <%= errors_for @presenter %>

  <div>
    <%= f.label :name %> 
  </div>
  <div>
    <%= text_field :presenter, :name, :size => "100" %> 
  </div>
  <div>
    <%= f.label :email %> 
  </div>
  <div>
    <%= text_field :presenter, :email, :disabled => 'disabled', :size => "100" %> 
  </div>
  <div>
    <%= f.label :bio %> 
  </div>
  <div>
    <%= text_area :presenter, :bio, :cols => "100"  %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
