<%= title "" %>

<%= content_for :sub_menu do %> 
<% end %>

<%= content_for :created_and_modified do %> 
<% end %>

<div style="width:45%; float:left; margin:0 20px;min-width:400px; ">

  <% if @presenter.reviews.empty? %>
    <br/> <br/>
    <div class="outlined">
      We expect presenters to help each other to develop their proposals, based on <b>peer to peer feedback</b>. <br/>
      You can give feedback on other people's proposals and improve your proposal based on the feedback you receive. 
      In this way, we will come to a set of quality session proposals in a transparent, community driven way.
    </div>
    <div class="flashy">
      Review your first session!!! 
    </div>
  <% end %>

  <% if !@presenter.name_filled_in? || @presenter.bio.blank? %>
    <br/> <br/>
    <div class="outlined">
      <% if !@presenter.name_filled_in? %> Fill in your name! <% end %>
      <% if @presenter.bio.blank? %> Fill in your bio! <% end %>
      You can do that in <%= link_to "your own presenter page", current_account.presenter %>.
    </div>
  <% end %>

    <% if !@presenter.twitter_id.present? && !@presenter.profile_image.present? && !@presenter.website.present? %>
    <div class="outlined">
      You can now add a profile image, website link or Twitter ID to your profile.
      You can do that in <%= link_to "your own presenter page", current_account.presenter %>.
    </div>
    <%  end %>

  <% @presenter.sessions.each do |session|  %>
    <%  if session.has_new_review?  %>
      <br/> <br/>
      <div class="outlined">
        Your session <%= link_to session.title, session%> has a <b>new review</b>. 
        Have a look at the review and use it to improve your session. 
        Leave a comment to explain to the reviewer what you modified and why. 
      </div>
    <% end %>
  <% end %>

  <% @presenter.sessions.each do |session|  %>
    <%  if !session.complete?  %>
      <br/> <br/>
      <div class="outlined">
        Several important fields are not filled in in your session <%= link_to session.title, session%>. 
        Please <b>update your session</b>, so that reviewers and program committee have a better understanding of it 
      </div>
    <% end %>
  <% end %>

  <h3>Sessions you are involved in: </h3>
  <div><i> These are the sessions that you submitted, reviewed or commented.</i></div>
  <%= render 'sessions/activity_index', :sessions => @sessions_you_are_involved_in, :sortable => false  %>

</div>

<div style="width:45%; float:left; margin:0 20px;min-width:400px; ">

  <% if PropileConfig.voting_active?  %> 
    <div ">
      <div class="flashy">
        Voting is now activated!
      </div>
      <%= render :partial=>'votes/rules' %>
      <h3>Your votes </h3>
      <div><i>(only you can see this)</i></div>
      <% if @presenter.votes.empty? %> 
        You have not yet voted.
      <% else %> 
        <%= render 'votes/index_for_one_voter', :votes => @presenter.votes  %>
      <%end%> 
      <hr>
      </div>
  <%end%> 

  <% if !@sessions_that_need_a_review.empty? %>
    <h3>These sessions are waiting for your review: </h3>
    <div><i> These sessions don't have a review and/or are younger than 1 week.</i></div>
    <%= render 'sessions/index_with_short_desc', :sessions => @sessions_that_need_a_review, :sortable => false  %>
  <% end %>
</div>
<div style="clear:both"></div>
