
<table class="tablelist">
  <tr>
    <th></th>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
  </tr>

<% @presenters.each_with_index do |presenter, i| %>
  <tr >
    <td> <%= i+1 %> </td>
    <td> <%= link_to presenter.name, presenter %></td>
    <td><%= presenter.email%> </td>
    <td class="nowrap" ><%= l presenter.created_at %> </td>
    <td class="nowrap" ><%= l presenter.updated_at %> </td>
    <td><%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: presenter.to_param %></td> 
  </tr>
<% end %>
</table>


