<%= title "Listing presenters" %>

<table class="tablelist">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>

<% @presenters.each do |presenter| %>
  <tr >
    <td><%= presenter.name%> </td>
    <td><%= presenter.email%> </td>
    <td><%= l presenter.created_at %> </td>
    <td><%= l presenter.updated_at %> </td>
    <td><%= link_to 'Show', presenter %></td>
    <td><%= link_to 'Edit', edit_presenter_path(presenter) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Presenter', new_presenter_path %> |
<%= link_to 'Back', "/" %>
