
<table class="tablelist">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Created</th>
    <th>Updated</th>
    <th></th>
    <th></th>
  </tr>

<% @presenters.each do |presenter| %>
  <tr >
    <td><%= presenter.name%> </td>
    <td><%= presenter.email%> </td>
    <td><%= l presenter.created_at %> </td>
    <td><%= l presenter.updated_at %> </td>
    <td><%= link_to 'Show', presenter %></td>
    <td><%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: presenter.to_param %></td> 
  </tr>
<% end %>
</table>


