<h2> <%= @presenter.name  %> </h2>
<div> <%= @presenter.email %> </div>
<hr>

<div class="lessoutlined"> 
  <%= wikinize(@presenter.bio) %> 
</div>

<div class="alignright">
  Created: <%= l @presenter.created_at %> -- 
  Modified: <%= l @presenter.updated_at %> 
</div>
<%= guarded_link_to 'Edit bio', controller: 'presenters', action: 'edit', id: @presenter.to_param %> &nbsp;

<hr>

<% if @you_are_current_user==true && PropileConfig.is_set( "voting_active") %> 
  <h2>Your votes </h2>
  <div>(only you can see this)</div>
  <% if @presenter.votes.empty? %> 
    You have not voted yet.
  <% else %> 
    <%= render 'votes/index', :votes => @presenter.votes  %>
  <%end%> 
  <hr>
<%end%> 


<h2>Sessions submitted by <%= @presenter.name  %> </h2>

<%= render 'sessions/index', :sessions => @presenter.sessions, :sortable => false  %>

<hr>

<h2>Sessions reviewed by <%= @presenter.name  %> </h2>

<%= render 'sessions/index', :sessions => @sessions_reviewed_by_you, :sortable => false  %>

<hr>

<p class="alignright"><a href="mailto:sessions@xpday.net">problems or questions</a> </p> 

<%= link_to 'Back to list of presenters', presenters_path %>
