<p id="notice"><%= notice %></p>
  <h2>
    <%= @presenter.name  %> 
  </h2>
  <div class="alignright">
    Created: <%= l @presenter.created_at %> -- 
    Modified: <%= l @presenter.updated_at %> 
  </div>
<hr>
  <div>
    <%= @presenter.email %>
  </div>
  <div>
    <%= @presenter.bio %>
  </div>
<hr>

<%= link_to 'Edit', edit_presenter_path(@presenter) %> |
<%= link_to 'Back', presenters_path %>
