<%= title @presenter.name %>

<%= content_for :sub_menu do %> 
  <%= guarded_link_to 'Edit', controller: 'presenters', action: 'edit', id: @presenter.to_param %> 
  <%= link_to 'Back to presenters', presenters_path %> 
  <br/>
  <% if current_account.maintainer? %>
    <i>(edit is only possible for presenter himself or for a maintainer)</i> 
  <% end %> 
<% end %>

<%= content_for :created_and_modified do %> 
  Created: <%= l @presenter.created_at %> -- 
  Modified: <%= l @presenter.updated_at %> 
<% end %>


<div> <%= @presenter.email %> </div>
<% if current_account.maintainer? %>
  <div> <i>maintainer: <%= @presenter.account.maintainer? %> <br> </i> </div>
  <div> <i>last login time: <%= @presenter.account.last_login %> <br> </i> </div>
<% end %>
<hr>

<div class="lessoutlined"> 
  <%= wikinize(@presenter.bio) %> 
</div>


<hr>

<% if @you_are_current_user==true && PropileConfig.voting_active?  %> 
  <h2>Your votes </h2>
  <div><i>(only you can see this)</i></div>
  <% if @presenter.votes.empty? %> 
    You have not yet voted.
  <% else %> 
    <%= render 'votes/index', :votes => @presenter.votes  %>
  <%end%> 
  <hr>
<%end%> 


<h2>Sessions submitted by <%= @presenter.name  %> </h2>

<%= render 'sessions/index_simple', :sessions => @presenter.sessions, :sortable => false  %>

<hr>

<h2>Sessions reviewed by <%= @presenter.name  %> </h2>

<%= render 'sessions/index_simple', :sessions => @sessions_reviewed_by_you, :sortable => false  %>



