<%= form_for(@review) do |f| %>
  <%= errors_for @review %>

  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
    <%= f.hidden_field :session_id %>
  </div>
  <div class="field">
    <%= f.label :session %>: 
    <% if @review.session.nil?  %>  
      no session defined (invalid review)
    <% else %> 
      <%= @review.session.title %>
    <% end %> 
  </div>
  <div class="field">
    <%= f.label :presenter %>: 
    <% if @review.presenter.nil?  %>  
      no presenter defined (invalid review)
    <% else %> 
      <%= @review.presenter.name %>
    <% end %> 
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
