<div>
  <b>Review by</b>
  <% if review.presenter.nil?  %>  
    nobody defined (invalid review)
  <% else %> 
    <%= review.presenter.name %>
  <% end %> 
  :
</div>

<div>
  This session gets a 
  <%= review.score %> / 10.
</div>

<div>
  <pre>
<%= review.body %>
  </pre>
</div>

<div class="alignright">
  Created: <%= l review.created_at %> -- Modified: <%= l review.updated_at %> 
</div>
<hr>
