
<h3>Review  by <%= link_to w(review.presenter.name), review.presenter %> </h3>

What I like:
<div class="lessoutlined"> 
  <%= wikinize(review.things_i_like) %>
</div>
Improvement opportunities:
<div class="lessoutlined"> 
  <%= wikinize(review.things_to_improve) %>
</div>
<div class="reviewcontenttitle">
  This session gets a <%= review.score %> / 10, and an XP Factor of <%= review.xp_factor%>
</div>

<% if !review.new_record? %> 
<div class="alignright">
  Review Created: <%= l review.created_at %> -- 
  Modified: <%= l review.updated_at %> 
  by <%= link_to w(review.presenter.name), review.presenter %>
</div>
<% end %>
