<div class="left"><h3>Review by
  <% if review.presenter.nil?  %>  
    nobody (invalid review)
  <% else %> 
    <%= review.presenter.name %>
  <% end %>
  :
</h3></div>

<div class="alignright">
  Created: <%= l review.created_at %> -- Modified: <%= l review.updated_at %>
</div>

<div class="reviewcontenttitle">
  This session gets a <%= review.score %> / 10.
</div>

What I like:
<div class="lessoutlined"> 
  <%= wikinize(review.things_i_like) %>
</div>
Improvement opportunities:
<div class="lessoutlined"> 
  <%= wikinize(review.things_to_improve) %>
</div>

