<div class="left"><h3>Review by
  <% if review.presenter.nil?  %>  
    nobody (invalid review)
  <% else %> 
    <%= review.presenter.name %>
  <% end %>
  :
</h3></div>

<div class="alignright">
  Created: <%= l review.created_at %> -- Modified: <%= l review.updated_at %>
</div>

<div class="reviewcontent">
  This session gets a 
  <%= review.score %> / 10.
</div>

<div class="reviewcontent">
  What I like
  <pre><%= review.things_i_like %></pre>
  Improvement opportunities
  <pre><%= review.things_to_improve %></pre>
</div>

