

<div class="reviewcontenttitle">
  This session gets a <%= review.score %> / 10.
</div>

What I like:
<div class="lessoutlined"> 
  <%= wikinize(review.things_i_like) %>
</div>
Improvement opportunities:
<div class="lessoutlined"> 
  <%= wikinize(review.things_to_improve) %>
</div>

<div class="alignright">
  Review Created: <%= l review.created_at %> -- 
  Modified: <%= l review.updated_at %> 
  by <%= link_to review.presenter.name, review.presenter %>
</div>
