<%= title "Editing review for: #{@review.session.title}" %> 

<%= content_for :sub_menu do %> 
  <%= link_to 'Back to Session', @review.session %>
<% end %>

<%= content_for :extra_info do %> 
  <div><i>The goal of a review is to help to improve this session proposal.</i></div>
<% end %>

<%= content_for :created_and_modified do %> 
    Created: <%= l @review.created_at %> -- Modified: <%= l @review.updated_at %> 
<% end %>

<%= render 'form' %>

