<b><%= title "Editing review for:" %> </b>

<%= render 'form' %>

<hr>
<div class="alignright">
  Created: <%= l @review.created_at %> -- 
  Modified: <%= l @review.updated_at %> 
</div>

<%= link_to 'Back to Session', @review.session %>
