<%= title "Listing reviews" %>

<table>
  <tr>
    <th>Body</th>
    <th>Score</th>
    <th>Session</th>
    <th>Presenter</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.body %></td>
    <td><%= review.score %></td>
    <td><%= review.session %></td>
    <td><%= review.presenter %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_review_path %>
