<%= title "Listing reviews" %>

<table class="tablelist">
  <tr>
    <th>Session</th>
    <th>Review by</th>
    <th>Score</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.session && review.session.title %></td>
    <td><%= review.presenter %></td>
    <td><%= review.score %></td>
    <td><%= link_to 'Show', review %></td>
    <td><%= link_to 'Edit', edit_review_path(review) %></td>
    <td><%= link_to 'Destroy', review, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Back', "/" %>
