<p id="notice"><%= notice %></p>

<p>
  <div> <b>Review for:</b> </div>
  <h2> <%= link_to @review.session.title, @review.session %> </h2>
  <div> <%= @review.session && @review.session.short_description %> </div> 
</p>

<p>
  <b>Review by:</b>
  <% if @review.presenter.nil?  %>  
    no presenter defined (invalid review)
  <% else %> 
    <%= @review.presenter.name %>
  <% end %> 
</p>

<p>
  This session gets a 
  <%= @review.score %> / 10.
</p>

<p>
  <pre>
<%= @review.body %>
  </pre>
</p>


<hr>
<h3> Comments on this review: </h3>
<div>
<% if @review.comments.size==0 %> 
  no comments yet.
<% else %> 

<table class="tablelist">
  <tr>
    <th>Commenter</th>
    <th></th>
  </tr>

  <% @review.comments.each do |comment| %>
    <tr>
      <td><%= comment.presenter %></td>
      <td><pre><%= comment.body %></pre></td>
    </tr>
  <% end %>
</table>
<% end %> 
</div>

<hr>
<div class="alignright">
  Created: <%= l @review.created_at %> -- 
  Modified: <%= l @review.updated_at %> 
</div>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %> |
<%= link_to 'New Comment', new_comment_path( :review => @review ) %> 
