<p id="notice"><%= notice %></p>

<p>
  <div> <b>Review for:</b> </div>
  <h2> <%= link_to @review.session.title, @review.session %> </h2>
  <%= @review.session && @review.session.short_description %> 
</p>
<hr>

<%= render 'reviews/show', :review => @review  %>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back to Session', @review.session %> 
