<p id="notice"><%= notice %></p>

<p>
  <div> <b>Review for:</b> </div>
  <h2> <%= link_to @review.session.title, @review.session %> </h2>
  <%= @review.session && @review.session.short_description %> 
</p>
<hr>

<p>
  <b>Review by:</b>
  <% if @review.presenter.nil?  %>  
    nobody defined (invalid review)
  <% else %> 
    <%= @review.presenter.name %>
  <% end %> 
</p>

<p>
  This session gets a 
  <%= @review.score %> / 10.
</p>

<p>
  <pre>
<%= @review.body %>
  </pre>
</p>



<hr>
<div class="alignright">
  Created: <%= l @review.created_at %> -- 
  Modified: <%= l @review.updated_at %> 
</div>
<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back to Session', @review.session %> 
