<%= form_for(@vote) do |f| %>
  <%= errors_for @vote %>

<%= f.hidden_field :session_id %>

<%= render 'sessions/show_short', :session => @vote.session  %>

<hr>

<h3>Vote by: <%= @vote.presenter.name %> </h3>


<% end %>


