
<table class="tablelist">
  <tr>
    <th></th>
    <th> <%= "Session" %>  </th>
    <th></th>
  </tr>

<% votes.each_with_index do |vote, i| %>
  <tr>
    <td> <%= i+1 %> </td>
    <td class="<%= vote.session.topic %>"> <%= link_to w(vote.session.title) , vote.session %> 
      <br/> <i> by <%= session_presenter_names(vote.session) %> </i>
    </td>
    <td> <%= link_to 'Destroy', vote, method: :delete %> </td>
  </tr>
<% end %>
</table>

