<table class="tablelist">
  <tr>
    <th></th>
    <th> <%= "Session" %>  </th>
    <th> <%= "#votes" %>  </th>
  </tr>

  <% @sessions.each_with_index do |session, i| %>
    <tr>
      <td> <%= i+1 %> </td>
      <td class="<%= session.topic %>"> <%= link_to w(session.title) , session %> 
        <br/> <i> by <%= session_presenter_names(session) %> </i></td>
      <td> <%= session.votes.size %> </td>
    </tr>
  <% end %>
</table>
