<%= title "Vote for: #{@vote.session.title}" %>
<%= content_for :sub_menu do %> 
  <%= link_to 'Back to Session', @vote.session %>
<% end %>

<%= render 'sessions/show_short', :session => @vote.session  %>
<hr />

<div class="alignright">
  Vote Created: <%= l @vote.created_at %> -- 
  Modified: <%= l @vote.updated_at %> 
  by <%= @vote.presenter.name %>
</div>


